@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/*body {
    background-color: grey;
    
}
/*BEM+SASS= <3
header {
    display: flex;
    padding: auto;
    margin: 70px;
    
}
.main :dark{
background-color: gray;
}
.main :light{
    background-color: aliceblue;
}*/